<div class="profile-card" appParallax [ratio]="0.8">
  <div class="top-side">
    <div class="text">Answered</div>
    <div class="bar">
      <div class="half-bar"></div>
      <div class="full-bar"></div>
    </div>
  </div>
  <div class="bottom-side">
    <img src="../../../../assets/photos/zack-laugh.gif" alt="" />
    <div class="text">
      <div class="name">Zach Galifianakis</div>
      <div class="job">Java developer</div>
    </div>
    <div class="progress">
      <div class="numbers">
        <div class="number">83</div>
        <div class="slash">/ 90</div>
      </div>
      <div class="minutes">Minutes</div>
    </div>
  </div>
</div>
