<section>
  <div class="card">
    <img src="../../../../assets/info-section/note-2.svg" alt="" />
    <div class="title">Powerful template builder</div>
    <div class="text">
      Make custom online tests and find the perfect candidate for you for any
      position role.
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/info-section/code.svg" alt="" />
    <div class="title">Automated evaluation</div>
    <div class="text">
      Put more success into your business by automating your workflows
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/info-section/link.svg" alt="" />
    <div class="title">
      Possibility to integrate <br />
      with other tools and needs
    </div>
    <div class="text">
      <br />
      Speed up your hiring process by never having to switch between tools again
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/info-section/chart-success.svg" alt="" />
    <div class="title">Asses of technical and cultural fit</div>
    <div class="text">
      Helping employees be smarter by creating cutting-edge online tests
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/info-section/trend-up.svg" alt="" />
    <div class="title">Rich reporting & analytics</div>
    <div class="text">
      We provide complete control over <br />
      your assessments
    </div>
  </div>
  <div class="card">
    <img src="../../../../assets/info-section/mouse-square.svg" alt="" />
    <div class="title">Assessment unified process</div>
    <div class="text">
      The hiring process doesn't have to be so inflexible and time-consuming
    </div>
  </div>
</section>
