// sizes
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
// @import url("//db.onlinewebfonts.com/c/1a991b240e707c46ca904d731893f108?family=Neue+Montreal");

$small: 360px;
$mobile: 640px;
$medium: 767px;
$large: 1400px;
